---
location: ""
---
<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  <script>
  var player;
  var renderer;
  var sketches = [
    'spectrum_demos/BrownianPaths'
  ];

  function loadRandomSketch() {
    var sketch = sketches[Math.floor(Math.random() * sketches.length)];
    require(['spectrum/Player', sketch], function(Player, App) {
      var canvas = document.getElementById("index-canvas");
      if(canvas) {
        if(renderer) renderer = null;
        if(player) { player.stop(); }
        var ctx = canvas.getContext('2d');
        renderer = new App(ctx);
        player = new Player(canvas);
        player.setRenderer(renderer);
        player.setFullWindow(true);
        player.init();
        player.play();
      }
    });
  }

  loadRandomSketch();

  </script>
  </head>
  <body>
    <canvas id="index-canvas" class="index-canvas"></canvas>
    <div class="index-header">
      {% include header.html %}
    </div>
    {% include google-analytics.html %}
  </body>
</html>
