@font-face {font-family: Terminus; src: url(./fonts/Terminus.ttf);}
@font-face {font-family: TerminusBold; src: url(./fonts/TerminusBold.ttf);}

a {
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

a:hover {
  background-color: #EE0033;
  color: white;
  transition: background-color 0.2s;
}

a:visited {
  background-color: none;
}

a:active: {
  background-color: none;
}

body {
  background-color: #fff;
  color: #333;
  font-family: Terminus;
  margin: 0;
  transition: font-size 250ms;
}

.hidden {
  opacity: 0;
  transition: opacity 150ms;
}

.visible {
  opacity: 1;
  transition: opacity 150ms;
}

@media only screen and (max-width: 512px) {
  body {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 1.0em;
  }
}
