@font-face {font-family: IBMPlexMonoRegular; src: url(./fonts/IBMPlexMono-Regular.ttf);}
@font-face {font-family: IBMPlexMonoSemiBold; src: url(./fonts/IBMPlexMono-SemiBold.ttf);}
@font-face {font-family: Terminus; src: url(./fonts/Terminus.ttf);}
@font-face {font-family: TerminusBold; src: url(./fonts/TerminusBold.ttf);}

* {
  font-weight: 100;
  font-family: 'IBMPlexMonoRegular', monospace;
}

a {
  color: #005c3a;
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

a:hover {}

a:visited {}

a:active: {}

.md-theme-default a:not(.md-button) {
  color: #999;
}

.md-theme-default a:hover:not(.md-button) {
  color: #777;
}

body {
  color: #003f5c;
  background-color: #fff;
  /*color: #00283a;*/
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: IBMPlexMonoSemiBold, monospace;
  line-height: 1.0;
  user-select: none;
}

.hidden {
  opacity: 0;
  transition: opacity 150ms;
}

ul {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -1.25em;
}

ul > li:before {
  content: "+ ";
}

.visible {
  opacity: 1;
  transition: opacity 150ms;
}

@media only screen and (max-width: 512px) {
  body {
    font-size: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 14px;
  }
}
