/*
@font-face {
  font-family: 'Meslo Regular';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/MesloLGMDZ-Regular.ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Ubuntu-R.woff');
}

@font-face {
  font-family: 'Everson Mono';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Everson Mono.ttf');
}
*/
@font-face {
  font-family: 'Terminus';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/Terminus.ttf');
}
