<h1 id="headline">{% if page.url == "/" %}~{% endif %}/{{ page.headline }}<div class="blink">_</div></h1>

<ul>
{% if page.url != "/" %}<li>~/<a href="/">home</a></li>{% endif %}

{% for node in site.pages %}
  {% if group and group == node.group %}
    {% if page.url != node.url %}
      <li>/<a href="{{node.url}}">{{ node.headline }}</a></li>
    {% endif %}
  {% endif %}
{% endfor %}
</ul>
{% assign navigation = nil %}
{% assign group = nil %}

<script>
var url = "{{ page.url }}";
var input = "{{ page.url }}".split("/")[1] || "";
var headline = document.getElementById("headline");
var chars = "abcdefghijklmnopqrstuvwxyz";
var heldKeys = {}

function updateInput() {
  var pre = url == "/" ? "~/" : "/";
  headline.innerHTML = pre + input + "<div class='blink'>_</div>";
}

function handleKeyPress(e) {

    heldKeys[e.keyCode] = true
    if(heldKeys[91] || heldKeys[18] || heldKeys[17]) return;

    switch(e.keyCode) {
      case 8: // delete
        e.preventDefault();
        e.cancelBubble = true;
        if(input.length) {
          input = input.substring(0, input.length - 1);
          updateInput();
        }
      break;

      case 13: // enter
        e.preventDefault();
        e.cancelBubble = true
        if(input == "home") {
          window.location.href = '/';
          return;
        }

        if(input == "ping") {
          input = "pong";
          updateInput();
          return;
        }

        if(input == "pong") {
          input = "ping";
          updateInput();
          return;
        }

        if(input == "random" || input == "reboot") {
          if("{{ page.url }}" == "/") loadRandomSketch();
          return;
        }

        if(input == "hello" || input == "hi") {
            input = Math.random() > 0.5 ? "Well, hello!" : "Yo!"
            updateInput()
            return
        }

        window.location.href = "/" + input;
      break;

      default:
        var s = String.fromCharCode(e.keyCode).toLowerCase();
        if(chars.indexOf(s) >= 0) {
            input += s;
            updateInput();
        }
      break;
    }
}

window.document.addEventListener("keydown", function(e) {
  handleKeyPress(e)
});

window.document.addEventListener("keyup", function(e) {
  heldKeys[e.keyCode] = false;
});
</script>
