<h6>Find me</h6>

<ul class="social-media">
    {% if site.social.twitter %}
    <li>
        <a title="{{ site.social.twitter }} on Twitter"
            href="https://twitter.com/{{ site.social.twitter }}"
            class="twitter wc-img-replace" target="_blank">Twitter</a>
    </li>
    {% endif %}

    {% if site.social.github %}
    <li>
        <a title="{{ site.social.github }} on Github"
            href="https://github.com/{{ site.social.github }}"
            class="github wc-img-replace" target="_blank">Github</a>
    </li>
    {% endif %}

    {% if site.social.facebook %}
    <li>
        <a title="{{ site.social.facebook }} on Facebook"
            href="https://facebook.com/{{ site.social.facebook }}"
            class="facebook wc-img-replace" target="_blank">Facebook</a>
    </li>
    {% endif %}

    {% if site.social.gplus %}
    <li>
        <a title="{{ site.social.gplus }} on Google Plus"
            href="https://plus.google.com/{{ site.social.gplus }}"
            class="google wc-img-replace" target="_blank">Google</a>
    </li>
    {% endif %}

    {% if site.social.dribble %}
    <li>
        <a title="{{ site.social.dribble }} on Dribble"
            href="https://dribbble.com/{{ site.social.dribble }}"
            class="dribble wc-img-replace" target="_blank">Dribble</a>
    </li>
    {% endif %}

    {% if site.social.pinterest %}
    <li>
        <a title="{{ site.social.pinterest }} on Pinterest"
            href="https://www.pinterest.com/{{ site.social.pinterest }}"
            class="pinterest wc-img-replace" target="_blank">Pinterest</a>
    </li>
    {% endif %}
</ul>
