@font-face {
  font-family: Terminus;
  src: url(fonts/Terminus.ttf);
}

#uibot {
  display: inline-block;
}

.uibot {
  color: #eee;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  font-family: Terminus;
  border: 1px solid #222;
  border-radius: 0.1em;
}

.uibot *:focus {
  outline: none;
}

.uibot .row {
  display: flex;
  margin: 0.25em 0.25em 0.0em 0.25em;
  flex-direction: row;
}

.uibot > :last-child { margin-bottom: 0.25em; !important; }
.uibot .row > :last-child { margin-right: 0.0em; !important; }

.uibot .component {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  margin-right: 0.25em;
  background-color: #222;
  border-radius: 0.1em;
}


.uibot .container {
  color: #fff;
  padding: 0.7em;
  margin: 0.1em;
  float: left;
  background-color: rgba(0, 0, 0, 0.7);
}

.uibot .label {
  float: left;
  margin-right: 0.5em;
  white-space: nowrap;
}

.uibot .range-min, .range-max {
  display: inline-block;
  font-size: 1em;
}

.uibot .button {
  width: 100%;
  text-align: center;
  background-color: red;  
  padding: 0.25em;
  border-radius: 0.1em;
  cursor: pointer;
  user-select: none;
  border: 1px solid red;
  white-space: nowrap;
}

.uibot .button:hover {
  border: 1px solid #eee;
}

.uibot .button:active {
  border: 1px solid red;
  color: #222;
  background-color: #eee;
}

.uibot .checkbox {
  width: 1em;
  height: 1em;
  background-color: #444;
  border-radius: 0.1em;
  border: 1px solid #222;
}

.uibot .checkbox-selected {
  background-color: red;
}

.uibot .checkbox:hover {
  border: 1px solid red;
}

.uibot input[type=text] {
  border: none;
  padding: 0.25em;
  font-family: Terminus;
  font-size: 0.9em;
  border-radius: 0.05em;
  background-color: #444;
  color: #aaa;
}

.uibot input[type=checkbox]:checked ~ div {
   background: red;
}

.uibot .slider-value {
  text-align: right;
}

/*https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css*/
.uibot input[type=range] {
  -webkit-appearance: none;
  margin-top: -0.1em;
  background: transparent;
  width: 100%;
  min-width: 10em;
  margin-right: 1em;
}

.uibot input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.uibot input[type=range]:focus {
  outline: none; 
}

.uibot input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.uibot input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 0;
  background: red;
  cursor: hand;
  margin-top: 0px; 
  box-shadow: none;
}

.uibot input[type=range]::-moz-range-thumb {
  box-shadow: none;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 0;
  background: red;
  cursor: pointer;
}

.uibot input[type=range]::-ms-thumb {
  box-shadow: none;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 0;
  background: red;
  cursor: pointer;
}

.uibot input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  cursor: pointer;
  box-shadow: none;
  background: #444;
  border-radius: 0;
  border: none;
}

.uibot input[type=range]:focus::-webkit-slider-runnable-track {
  background: #444;
}

.uibot input[type=range]::-moz-range-track {
  width: 100%;
  height: 1em;
  cursor: pointer;
  box-shadow: none;
  background: #444;
  border-radius: 0;
  border: none;
}

.uibot input[type=range]::-ms-track {
  width: 100%;
  height: 1em;
  cursor: pointer;
  background: #444;
  border-color: 1em;
  border-width: 0;
  color: transparent;
}

.uibot input[type=range]::-ms-fill-lower {
  background: #444;
  border: none;
  border-radius: none;
  box-shadow: none;
}

.uibot input[type=range]:focus::-ms-fill-lower {
  background: #444;
}

.uibot input[type=range]::-ms-fill-upper {
  background: #444;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.uibot input[type=range]:focus::-ms-fill-upper {
  background: #444;
}

.uibot select {
  border-radius: 0;
  font-family: Terminus;
  background-color: #444;
  border: none;
  outline: none;
  display: inline-block;
  font-size: 0.9em;
  color: white;
}
