<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        <footer class="main-footer">
            <div class="wc-container">
                <div class="column one">
                  {% include footer-links.html %}
                </div>
                <div class="column two">
                  {% include social.html %}
                </div>
            </div>
            <p class="wc-container disclaimer">
              {% include footer.html %}
            </p>
        </footer>
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- When no internet load JQuery from local -->
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery.min.js"><\/script>')</script>
        <!-- Site js -->
        <script src="{{ site.baseurl }}/assets/js/all.js"></script>
        <!-- Google analytics  -->
        {% include google-analytics.html %}
    </body>
</html>
