<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
    <body>
        {% include header.html %}
        {{ content }}
        <!-- jQuery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- When no internet load JQuery from local -->
        <script>window.jQuery || document.write('<script src="{{ site.baseurl }}/assets/js/jquery.min.js"><\/script>')</script>
        <!-- Site js -->
        <script src="{{ site.baseurl }}/assets/js/all.js"></script>
        <!-- Google analytics  -->
        {% include google-analytics.html %}
    </body>
</html>
