---
layout: default
title: blog
---

<div class="page-content wc-container">
	<div class="post">
		<h1>{{ page.heading }}</h1>
		<p class="post-meta">
			{% if (page.categories.size > 0 %}
      <span class="categories">
      {{ page.categories | array_to_sentence_string }}
      </span> |
	    {% endif %}
	    <span class="post-date">
    	{{ page.date | date: "%b %-d, %Y" }}
	    </span>
		</p>
		<div class="post">
			{{ content }}
		</div>
	</div>
  <div class='comment-container'>
    {% if site.data.comments[page.slug] %}
      <div class='comments'>
          <h2>Comments</h2>
          {% assign comments = site.data.comments[page.slug] | sort %}
          {% for comment in comments %}
            {% assign name = comment[1].name %}
            {% assign website = comment[1].url %}
            {% assign date = comment[1].date %}
            {% assign message = comment[1].message %}
            <div class='comment'>
              <div class='comment-user'>
                {% if website != '' %}
                <a href="{{ website }}">{{ name }}</a>:
                {% else %}
                  {{ name }}:
                {% endif %}
              </div>
              <div class='comment-date'>{{ date | date: '%-d %B %Y %T' }}</div>
              <div class='comment-message'>{{ message }}</div>
            </div>
          {% endfor %}
      </div>
    {% endif %}
    <div class='comment-form-container'>
      <form class='comment-form' method="POST" action="https://api.staticman.net/v2/entry/jeremyfromearth/jeremyfromearth.github.io/master/comments">
        <div class='comment-input'>
          {% if site.data.comments[page.slug] %}
          <h2>Join the conversation</h2>
          {% else %}
          <h2>Start the Conversation...</h2>
          {% endif %}
          <input class='comment-text-input' name="options[redirect]" type="hidden" value="{{site.url}}{{page.url}}">
          <input name="options[slug]" type="hidden" value="{{ page.slug }}">
          <label class='comment-input-label'>Name</label>
          <input class='comment-text-input' id='name-input' name="fields[name]" type="text">
          <label class='comment-input-label'>E-mail</label>
          <input class='comment-text-input' id='email-input' name="fields[email]" type="email">
          <label class='comment-input-label'>Website</label>
          <input class='comment-text-input' name="fields[url]" type="text">
        </div>
        <div class='comment-textarea'>
          <label class='comment-input-label'>Message</label>
          <textarea class='comment-text-area' id='message-input' name="fields[message]"></textarea>
          </br>
          <button class='comment-submit disabled' id='submit-btn' type="submit">Send!</button>
        </div>
      </form> 
    </div>
  </div>
	{% if site.related_posts %}
	<div class="related">
		<h4>Related Posts</h2>
		<ul class="posts">
		    {% for post in site.related_posts limit:3 %}
		    <li>
			  <span>{{ post.date | date_to_string }} &raquo;</span>
			  <a href="{{ post.url }}">{{ post.heading }}</a>
		    </li>
		    {% endfor %}
		</ul>
	</div>
	{% endif %}

	<div class="post-footer">
		<div class="column-1">
			{% if page.previous %}
				<a href="{{ page.previous.url }}"><< Older</a>
			{% else %}
				<span><< Older</span>
			{% endif %}
		</div>
		<div class="column-2"><a href="/blog">blog</a></div>
		<div class="column-3">
			{% if page.next %}
				<a href="{{ page.next.url }}">Newer >></a>
			{% else %}
				<span>Newer >></span>
			{% endif %}
		</div>
	</div>
</div>

<script>
    var email_pattern = /^\w+([\.-]?\ w+)*@\w+([\.-]?\ w+)*(\.\w{2,3})+$/;
    var name_input = document.getElementById('name-input');
    var email_input = document.getElementById('email-input');
    var message_input = document.getElementById('message-input');  
    var submit_button = document.getElementById('submit-btn');

    function inputs_are_valid() {
      return name_input.value.length > 0 
        && email_input.value.match(email_pattern)
        && message_input.value.length > 0;
    }

    function on_key_up() {
      if(inputs_are_valid()) {
        submit_button.classList.add('enabled');
        submit_button.classList.remove('disabled');
      } else {
        submit_button.classList.add('disabled');
        submit_button.classList.remove('enabled');
      }
    }

    name_input.addEventListener('keyup', on_key_up);
    email_input.addEventListener('keyup', on_key_up);
    message_input.addEventListener('keyup', on_key_up);
  </script>
