---
layout: default
title: work
---

<div class="page-content wc-container">
	<div class="post">
		<h2>{{ page.title }}</h2>
		<h6>{{ page.client }}</h6>
		<h6>{{ page.location }}</h6>
		{% if page.collaborators %}
			<h6>{{ page.collaborators }}</h6>
		{% endif %}
		<p>
			{% if page.year %}Year: {{ page.year }}{% endif %}{% if page.collaborators %}, Collaborators: {{ page.collaborators }}{% endif %}{% if page.technologies %}, Technologies: {{ page.technologies }}{% endif %}{% if page.tags %}, Tags: {{ page.categories }}{% endif %}
		</p>
	</div>
	{% if page.description %}
	<p>{{ page.description }}</p>
	{% endif %}
	{% if page.images %}
		{% for image in page.images %}
			<img src="/assets/images/work/{{ image.src }}"></img>
				<p>{{ image.caption }}</p>
		{% endfor %}
	{% endif %}
	{{ content }}
  </div>
</div>
