---
layout: default
title: work
---

<div class="page-content wc-container">
	<div class="post">
		{% if page.title %}
		<h2>{{ page.title }}</h2>
		{% endif %}
		{% if page.client %}
		<h6>{{ page.client }}</h6>
		{% endif %}
		{% if page.location %}
		<h6>{{ page.location }}</h6>
		{% endif %}
		<p>
    {% if page.year %}Year: {{ page.year }}{% endif %}{% if page.collaborators %}<br/>Collaborators: {{ page.collaborators }}{% endif %}{% if page.technologies %}<br/>Technologies: {{ page.technologies }}{% endif %}
		</p>
		{% if page.description %}
		<p>{{ page.description }}</p>
		{% endif %}
	</div>
	{% if page.video %}
	{{ page.video }}
	<hr/>
	{% endif%}
	{% if page.videos %}
	{% for video in page.videos %}
		{{ video.src }}
		<hr/>
	{% endfor %}
	{% endif %}
	{% if page.images %}
		{% for image in page.images %}
			<img src="/assets/images/work/{{ image.src }}"></img>
				<p>{{ image.caption }}</p>
			<hr/>
		{% endfor %}
	{% endif %}
	{{ content }}
	<h8>{% if page.categories %}Tags: {{ page.categories }}{% endif %}</h8>
  </div>
</div>
