---
layout: default
title: work
---

<div class="page-content wc-container">
	<div class="post">
		<h2>Title: {{ page.title }}</h2>
		<h4>Client: {{ page.client }}</h4>
		<h4>Location: {{ page.location }}</h4>
		<h4>Collaborators: {{ page.collaborators }}</h4>
		Year: {{ page.year }}, Technologies: {{ page.technologies }}, Tags: {{ page.categories }}</div>
	<p>{{ page.description }}</p>
	{% if page.images %}
		{% for image in page.images %}
			<img src="/assets/images/work/{{ image.src }}"></img>
				<p>{{ image.caption }}</p>
		{% endfor %}
	{% endif %}
	{{ content }}
  </div>
</div>
